{% extends "base.html" %}
{% from "macros.html" import collapsible_editable_block, collapsible_scheduler_block %}

{% block title %}Custom Schedulers{% endblock %}

{% block content %}
<h1>Custom Schedulers</h1>

{{ collapsible_editable_block('Scheduler ConfigMap', 'kubectl get configmap scheduler-config -n default -o yaml', 'scheduler_config', scheduler_config_output) }}

<div class="collapsible-container">
    <button class="collapsible-toggle" data-id="external-schedulers-toggle" onclick="toggleCollapsibleContent(this)">
        <span class="collapsible-title">Scheduling Algorithms</span>
        <span class="collapsible-icon">&#x276F;</span>
    </button>
    <div class="collapsible-content">
        <div class="input-group">
            <input type="text" id="scheduler-name" placeholder="Enter Scheduler Name">
            <button onclick="addScheduler()">Add Scheduler</button>
        </div>
        <div id="scheduler-list">
            {% for scheduler in schedulers %}
                {{ collapsible_scheduler_block(scheduler.name, scheduler.namespace) }}
            {% endfor %}
        </div>
    </div>
</div>

<div class="collapsible-container">
    <button class="collapsible-toggle" data-id="deploy-scheduler-toggle" onclick="toggleCollapsibleContent(this)">
        <span class="collapsible-title">Deploy New Scheduler</span>
        <span class="collapsible-icon">&#x276F;</span>
    </button>
    <div class="collapsible-content">
        <form id="deploy-scheduler-form">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required placeholder="my-scheduler-algorithm">
            </div>
            <div>
                <label for="container-name">Container Name:</label>
                <input type="text" id="container-name" name="container-name" required placeholder="my-scheduler-container">
            </div>
            <div>
                <label for="image">Image:</label>
                <input type="text" id="image" name="image" required placeholder="docker.hub/my-repo:latest">
            </div>
            <div>
                <label for="port">Port:</label>
                <input type="number" id="port" name="port" required placeholder="5000">
            </div>
            <button type="submit">Deploy</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        initializeCollapsibleBlocks();
        asyncLoadContent('/get_scheduler_config', 'scheduler_config-output', saveSchedulerConfig);
        loadSchedulers(); // Load schedulers and fetch logs

        document.getElementById('deploy-scheduler-form').addEventListener('submit', function(event) {
            event.preventDefault();
            deployScheduler();
        });
    });
</script>

{% endblock %}
