{% extends "base.html" %}
{% from "macros.html" import collapsible_block %}

{% block title %}Functions{% endblock %}

{% block content %}
<h1>Functions</h1>

{{ collapsible_block('Functions', functions_command, 'functions', functions_output) }}

<div class="collapsible-container">
    <button class="collapsible-toggle" data-id="func-deployments-toggle">
        <span class="collapsible-title">Function Deployments</span>
        <span class="collapsible-icon">&#x276F;</span>
    </button>
    <div class="collapsible-content">
        <div id="func-list">
            {% for func in functions %}
                {{ collapsible_block(func, 'kubectl get pod -l serving.knative.dev/service=' ~ func, 'func_deployments/' ~ func, func ~ '-deployments-output') }}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        asyncLoadContent('/get_functions', 'functions-output');


        fetch('/get_functions_list')
            .then(response => response.json())
            .then(data => {
                const functionList = data.functions;
                functionList.forEach(func => {
                    asyncLoadContent(`/get_func_deployments/${func}`, `func_deployments/${func}-output`);
                });
            });
    });
</script>

{% endblock %}